spring:
  application:
      name: parola-fin
  config:
    import: optional:file:./src/main/resources/.env[.properties]
  datasource:
    url: ${SPRING_DATASOURCE_URL}
    username: ${SPRING_DATASOURCE_USERNAME}
    password: ${SPRING_DATASOURCE_PASSWORD}
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    properties:
      show-sql: true
      generate-ddl: true
server:
  port: 8080

